<div class="main-body">
    {{!-- Header --}}
    <div class="page-header h-80">
        <div class="pull-left h-100p w-50p">
            <img src="images\Logo.png" class="pl-50 mt-m-20 mb-m-20">
        </div>
        <div class="pull-right h-100p w-50p">
            <a href="#" class="pull-right mt-m-20 mb-m-20" {{action "showNotification"}}>
                <img src="images\notif-icon.svg" class="w-30 h-30 mt-40 mr-40">
            </a>
        </div>

    </div>
    {{!-- left pane --}}
    <div></div>
    {{!-- dashboard --}}
    <div>

    </div>

</div>

{{!-- notification --}}