<div class="row">
    <div class="div-2 pt-20 pl-100 pr-100">
        <h1 class="mb-0">Welcome Back</h1>
        <p class="mt-0">Please Sign In To Use PixBurb</p>
        <div class="clear-both"></div>
        <label class="field">Organization ID</label>
        <br>
        <input class="input" type="text" id="orgId" />
        <br>
        <label class="field">E-Mail or Username</label>
        <br>
        <input class="input" type="text" id="uname" />
        <br>
        <label class="field">Password</label>
        <br>
        <input class="input" type="password" id="pwd" />
        <br>
        <div class="pull-left">
            <input type="radio" class="" id="rememberPwd">
            <span>Remember Me</span>
        </div>
        <div class="pull-right">
            <a href="#" class="remove-underline primary-color" {{action "forgotPwd"}}>Forgot Your Password?</a>
        </div>
        <br>
        <br>
        <button class="primary-btn w-100p" {{action "signIn"}}>Sign In</button>
        <br>
        <br>

    </div>
    <div class="div-2">
        {{!-- <img src="../images/img.jpg" width="100%" height="100%"> --}}
    </div>
</div>